body {
  text-align: center;
  background-color: black;
}
#container {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    width: 40%;
}

#container > div {
  border-radius: 25%;
  align-items: center;
  color: white;
  margin: 10px;
}

h1 {
  color: white;
}

  
